{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
<div class="boxed orange">
	<h2 class="title3">Obiekty wypoczynkowe</h2>

<div class="container">
    <div class="text">
		<ul>
			{% for tourist_obj in object_list %}
				<li>
					<div class="DescribeDiv">
						{% with tourist_obj.touristobjectimage_set.all.0.image as image %}
							<img class="image-popup" data-image-url="{{ image.url }}" src="{{ image.url }}" alt="">
							<a href="{{ tourist_obj.get_absolute_url }}">
								{{ tourist_obj.name }}
							</a>
						{% endwith %}
						<p>{{ tourist_obj.description }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

</div>
<div class="divEvents">
	<h3>Ostatnio dodane wydarzenia</h3>
	<ul id="events-list">
		{% for event in events %}
			<li>
				<h3><a href="{{ event.get_absolute_url }}">
					{{ event.name }}
				    </a>
				</h3>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
