{% extends "base.html" %}

{% block content %}
<div class="boxed orange">
{% if request.user.is_authenticated %}
	<ul id="profile-details">
		<li><span>Login:</span> {{ request.user.username }}</li>
		<li><span>E-mail:</span> {{ request.user.email }}</li>
		<li><span>Adres:</span> {{ request.user.get_profile.address }}</li>
	</ul>
	{% if request.user.get_profile.is_owner %}
		<h3>Moje obiekty</h3>
		<ul id="user-objs-list">
		{% for tourist_obj in request.user.get_profile.touristobject_set.all %}
			<li class="obiekt">
				<a href="{{ tourist_obj.get_absolute_url }}">{{ tourist_obj.name }}</a>
				<a href="{% url "tourist_object_update" tourist_obj.pk %}">edytuj</a>
				<a href="{% url "tourist_object_delete" tourist_obj.pk %}">usuń</a>
			</li>
		</ul>
		{% endfor %}
	{% else %}
	<h3>Moje wyjazdy</h3>
	<ul>
		{% for event in events %}
		<li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endif %}
</div>
{% endblock %}
