/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #E5E5E5;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
}

blockquote {
	font-style: italic;
}

a {
	color: #135293;
}

a:hover {
	text-decoration: none;
}

.title1 {
	margin: 0;
	padding: 10px 0;
	background: url('../gfx/img07.gif') repeat-x left bottom;
	font-weight: normal;
	font-size: 129%;
	color: #FFFFFF;
}

.title2 {
	margin: 0;
	padding: 10px 0;
	background: url('../gfx/img09.gif') repeat-x left bottom;
	font-size: 227%;
	font-weight: normal;
	color: #135293;
}

.title3 {
	margin: 0;
	padding: 10px 0;
	background: url('../gfx/img11.gif') repeat-x left bottom;
	font-size: 20px;
	font-weight: bold;
	color: #5F9BD1;
}

.boxed {
	padding: 5px 30px 20px 30px;
}

.boxed p, .boxed ul, .boxed ol {
	/*line-height: 180%;*/
}

.orange {
	margin: 20px 30px;
	background: #FF9523 url('../gfx/img10.gif') repeat-x;
	color: #FFFFFF;
	border-radius:20px;
	border: 5px #5F9BD1 solid;
}

.orange a {
	color: #FFFFFF;
}

.orange h3{
	margin-left:40px;
}

.col-one {
	float: left;
	width: 300px;
}

.col-two {
	float: right;
	width: 300px;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	background: #FFFFFF url('../gfx/img01.gif') repeat-y;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
}

/* Logo */

#logo {
	height: 220px;
	background: #FFFFFF url('../gfx/img02.gif') repeat-y right top;
}

#logo h1, #logo h2 {
	margin: 0;
	text-transform: lowercase;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	color: #9C9C9C;
}

#logo h1 {
	padding: 100px 0 0 0;
	background: url('../gfx/img03.gif') no-repeat center center;
	font-size: 36px;
}

#logo h2 {
	font-size: 14px;
}

#logo a {
	color: #9C9C9C;
	text-decoration: none;
}

/* Menu */

#menu {
	padding: 20px;
	background: #85C329 url('../gfx/img04.gif') repeat-x;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	padding: 10px 0;
	background: url('../gfx/img05.gif') repeat-x;
}

#menu li.first {
	background: none;
}

#menu a {
	text-decoration: none;
	font-size: 129%;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/* Login */

#login {
	padding: 20px;
	background: url('../gfx/img06.gif') repeat-x;
}

#login form {
	margin: 0;
	padding: 20px 0 0 0;
}

#login fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#login label {
	color: #FFFFFF;
}

#inputtext1, #inputtext2 {
	width: 194px;
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

#inputsubmit1 {
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

#login a {
	color: #FFFFFF;
}

/* Content */

#content {
	float: right;
	width: 740px;
}

/* Footer */

#footer {
	width: 980px;
	height: 120px;
	margin: 0 auto;
	background: url('../gfx/img12.gif') repeat-x;
}

#footer p {
	margin: 0;
	font-size: 85%;
}

#links {
	float: left;
	width: 220px;
	height: 45px;
	padding: 35px 0 0 20px;
	background: url('../gfx/img13.gif') repeat-x;
}

#links a {
	color: #FFFFFF;
}

#legal {
	float: right;
	width: 720px;
	height: 45px;
	padding: 35px 0 0 20px;
}

form {
	padding: 20px 0 0 0;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 500px;
}

form label {
	/*display: inline-block; */
	display: inline-block;
	width: 80px;
	/*padding-right: 30px; */
}

form p {
	clear: both;
	width: 400px;
}

form input {	

	margin-left: 30px;
	/*margin-right: 84px;*/
	border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 75px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffa23d; 
/*
background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);*/
}

form ul{
	float:left;
}

form ul li{
	padding-top: 10px;
}

form ul li label{
	width: 270px;
	float: left;
	
}

form select{
	vertical-align: top;
	margin-left: 30px;
border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffa23d; 
/*
background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
*/	
}

form p span{
	float: left;
	margin-top: 20px;
}

.registerLinks{
	width: 500px;
	margin: 0px auto 0px;
}

#id_facilities{
	margin-left: 0;
}

#id_facilities label{
	display: inline;
}

form textarea{
	vertical-align: top;
	width:	230px; 
	margin-left: 30px;l
	border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif;  text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffa23d;  
/*
background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
*/
}

.searchDiv{
	width: 500px;
	margin-bottom: 50px;
}

.searchDiv label{
	display: inline-block; 
	width: 80px;
	padding-right: 30px; 
}

.searchDiv input[type="text"]{
	float:right; 
	margin-right: 150px;
}

.searchDiv input[type="submit"]{
}

.obList{
	margin-top: 80px;
}

.login_p {
	width: 260px;
	margin: 0 auto;
}

.userProfileDiv{
	padding: 20px 0 0 0;
	width: 500px;
	margin: 0 auto;
}

.userProfileDiv strong{
	display: inline-block; 
	width: 120px;
	padding-right: 30px;
}

.userProfileDiv img{
}

.header{
	width:	400px;
}

.header img{
	float:left;
	width: 60px;
	height: 60px;
}

.header h2{
	float:right
}

#content ul{
	list-style-type: none;
	margin: 0px 2px 2px 0px;
}

#content ul ul{
	list-style-type:circle	
}

#content ul ul li{
	background: none;	
}

#content ul li{
	padding-top: 10px;
	/*background: url('../gfx/img11.gif') repeat-x left bottom;*/
}

#content ul li img{
	padding-right: 20px;
}

.joinToevent{
	width: 100%;
}

.photoDiv{
	float:left;
	width: 80px;;
}

.DescribeDiv a{
	font-size: 15px;
}

button,input[type="submit"] {
	color: rgb(102, 102, 102);
	font: bold 100% Georgia,"Times New Roman",Times,serif;
	margin-bottom: 0.5em;
}


/* -------------------- Organize Popup --------------------- */
.organize-popup div.popup-content {
	padding: 15px;
	background: #fff;
}

.organize-popup ul {
	padding: 15px;
	list-style: none;
}

.organize-popup ul img {
	width: 400px;
	height: 200px;
}

.organize-popup ul#choices-list {
	list-style: none;
}

.organize-popup li:hover {
	cursor: pointer;
}

.organize-popup li.active {
	background: #ccc;
}

.organize-popup div#offers-list {
	width: 500px;
	height: 600px;
	overflow-y: auto;
}

/*--------------------messages------------------*/
.success, .error{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../gfx/success.png');
	background-size: 18px 18px;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../gfx/error.png');
	background-size: 18px 18px;
}

/* ------------scrolPanel------------ */

.container{
    /*background: #000;*/
    color: white;
    width: 600px;
}

#tourist-object-details {
	width: 400px;
}

/*----------button style-------------*/

.Orangebutton{
border:1px solid #ffad41; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
margin-top:10px;
margin-left: 37px;
margin-right: 10px;
width: 90%;
text-align:center;
}

.Orangebutton:hover{
 border:1px solid #ff9913;
 background-color: #ffaf46; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 background-image: linear-gradient(to bottom, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}



body .Bluebutton{
border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
text-align: center;
margin: 0px 0px 0px;
width: 20%;
}

body .Bluebutton2{
border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
margin: 0;
width: 97%;
margin-bottom: 10px;
margin-top: 10px;
text-align: center;
}

body .Bluebutton:hover{
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}


body h2{
	margin-left: 30px;
}

#content ul .membersLi{
	background: none;
	padding-bottom: 0px;
}

#content ul #object-participants li{
	padding-bottom: 5px;
	padding-top: 5px;
}

#content form .errorlist li{
	background: none;
	padding: 0;
	color:red;	
	margin-left: 75px;
	margin-right: 200px;
}

#content form .errorlist{
}

#content #events-list li{
	padding-bottom: 5px;
	padding-top:	5px;
	background: none;
}

.divEvents{
	background: #85C329 url('../gfx/img04.gif') repeat-x;
	margin: 20px 30px;
	color: #FFFFFF;
	border-radius:20px;
	border: 5px #5F9BD1 solid;
	padding-left: 20px;
}

.objectDiv{
	margin: 20px 30px;
	background: #FF9523 url('../gfx/img10.gif') repeat-x;
	color: #FFFFFF;
	border-radius:20px;
	border: 5px #5F9BD1 solid;
	padding-left: 30px;
}

.objectDiv textarea{
	/*background-color: #ffa723;*/
}

.objectDiv h4{
	margin-left: 40px;
	margin-top: 20px;	
}
.objectDiv #id_comment{
	width:350px;
	height:100px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.objectDiv form{
	margin: 0 0;
	padding-left: 10px;
	width: 500px;
}

.objectDiv p, #voting-messages{
	float:	none;
	margin-left: 25px;
}

.objectDiv form label{

}

/*--------------style rating-------------------------------------*/

.vote-choices {
  unicode-bidi: bidi-override;
  direction: rtl;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 520px;
}
.vote-choices > a {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.vote-choices > a:hover:before,
.vote-choices > a:hover ~ a:before {
   content: "\2605";
   position: absolute;
}

#object-images li{
	display: inline-block;
}

#object-images li p{
	margin-top: 20px;
	margin-left: 0px;
}

#image-form {
	margin-top:20px;	
}

#image-form input[type="text"]{;
	margin-top:10px;
	padding-right: 150px;
	padding-bottom: 5px;	
}

#image-form label{
	padding-left: 30px;
}
b
body #map-canvas{
	margin-left:40px;
	margin-top:20px;
	margin-bottom: 20px;
}

#createEventLink{
	padding-right: 0px;
	padding-left: 0px;
}

li span, .ul-header{
	font-weight:bold;
	font-size: 15px;
}

dl dt {
	padding: 0px 0px 0px 40px;
}

dd{
	background: #85C329 url('../gfx/img04.gif') repeat-x;
	margin: 20px 30px;
	color: #FFFFFF;
	border-radius:20px;
	border: 5px  solid;
	padding-left: 20px;
}

#user-objs-list{
	padding-top:20px;
}


.obiekt{
	padding-top:10px;
}

.obiekt a{
	margin-left:10px;
	float:right;
}

#search-field {
	background: #e6e2df;
}

.image-popup {
	cursor: pointer;
}
