<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>
			{% block title %}
			Organizator wyjazdów
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	</head>
	<body>
		<div id="page">
		  <div id="sidebar">
			<div id="logo">
			  <h1><br/><br/><br/></h1>
			</div>
			<!-- end header -->
			<div id="menu">
				<div id="organize-popup-1" class="organize-popup">
					<div id="popup-content-1" class="popup-content"></div>
				</div>
				<div id="organize-popup-2" class="organize-popup">
					<div id="popup-content-2" class="popup-content"></div>
				</div>
				<div id="organize-popup-3" class="organize-popup">
					<div id="popup-content-3" class="popup-content"></div>
				</div>
				{% block menu %}
				<ul>
					<li class="first" >
						<a href="/">Strona główna</a>
					</li>
					{% if not request.user.is_authenticated %}
						<li>
							<a href="/accounts/register">Rejestracja</a>
						</li>
						<li>
							<a href="/accounts/login">Logowanie</a>
						</li>
					{% else %}
						<li>
							<a href="/accounts/profile">Konto [{{ request.user.username }}]</a>
						</li>
						{% if request.user.get_profile.is_owner %}
							<li>
								<a href="/places/create">Dodawanie obiektu</a>
							</li>
							<li>
								<a href="/offers/create">Dodawanie oferty</a>
							</li>
						{% endif %}
						<li>
							<a href="/accounts/logout">Wyloguj</a>
						</li>
					{% endif %}
				</ul>
				{% endblock %}
			</div>
			<!-- end menu -->
		  </div>
		  <!-- end sidebar -->
		  <div id="content">
			<div>
				<img src="{{ STATIC_URL }}gfx/img08.jpg"
					alt="" width="740" height="220" />
			</div>
			{% if request.user.is_authenticated %}
				{% if not request.user.get_profile.is_owner %}
					<button id="organize-button" class="Orangebutton">Organizuj wyjazd</button>
				{% endif %}
			{% endif %}
			{% block content %}{% endblock %}
		  </div>
		  <!-- end content -->
		  <div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end page -->
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
		<script src="{{ STATIC_URL }}js/jquery/jquery-1.11.1.js"></script>
		<script src="{{ STATIC_URL }}js/jquery/jquery.cookie.js"></script>
		<script src="{{ STATIC_URL }}js/jquery/jquery.bpopup.js"></script>
		<script src="{{ STATIC_URL }}js/jquery/jquery.jscrollpane.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="{{ STATIC_URL }}js/main.js"></script>
	</body>
</html> 
