{% extends "base.html" %}

{% block content %}
<h2>{{ object.name }}</h2>
<ul>
	<li><span>Opis:</span> {{ object.description }}</li>
	<li class="membersLi">Uczestnicy wydarzenia</li>
	<ul id="object-participants">
		{% for participant in object.participants.all %}
			<li>{{ participant.user.username }}</li>
		{% endfor %}
	</ul>
	<li class="membersLi">Notatki związane z wydarzeniem</li>
	<ul id="object-participants">
		{% for note in notes %}
			<li>{{ note.title }}: {{ note.content }}</li>
		{% endfor %}
	</ul>
</ul>
<a href="{% url 'create_note' object.pk %}" class="Orangebutton">Dodaj notatkę do wydarzenia</a>
<a href="{% url 'join_event' object.pk %}" class="Orangebutton" id="joinLink">Dołącz do wydarzenia</a>
{% endblock %}
