{% extends "base.html" %}

{% load accounts_tags %}

{% block content %}
{% if user.get_profile and user.get_profile|is_moderator:object %}
	<a href="{% url 'plan_road' object.pk %}" class="Bluebutton2">Planuj trasę</a>
{% endif %}
<div class="boxed orange">
<h2>{{ object.name }}</h2>
<ul>
	<li><span>Opis:</span> {{ object.description }}</li>
	<li class="membersLi">Oferty dołączenia do wydarzenia</li>
	{% if user.get_profile and user.get_profile|is_moderator:object %}
		<ul id="object-participants-offers">
			{% for offer in object.eventjoinoffer_set.active %}
				<li>{{ offer.participant.user.username }}</li>
					<a href="{% url 'join_event' object.pk offer.participant.pk %}">akceptuj</a>
			{% endfor %}
		</ul>
	{% endif %}
	<li class="membersLi">Uczestnicy wydarzenia</li>
	<ul id="object-participants">
		{% for participant in object.participants.all %}
			<li>{{ participant.user.username }}</li>
		{% endfor %}
	</ul>
	<li class="membersLi">Notatki związane z wydarzeniem</li>
	<ul id="object-participants">
		{% for note in notes %}
			<li>{{ note.title }}: {{ note.content }}</li>
		{% endfor %}
	</ul>
</ul>
{% if user.get_profile and user.get_profile|is_participant:object %}
	<a href="{% url 'create_note' object.pk %}" class="Bluebutton">Dodaj notatkę do wydarzenia</a>
	<a href="{% url 'leave_event' object.pk %}" class="Bluebutton">Wypisz się z wydarzenia</a>
{% else %}
	{% if user.get_profile and not user.get_profile.is_owner and not user.get_profile|is_moderator:object %}
		<a href="{% url 'join_event_offer' object.pk %}" class="Bluebutton" id="joinLink">Dołącz do wydarzenia</a>
	{% endif %}
{% endif %}
</div>
{% endblock %}
