{% extends "base.html" %}

{% load comments %}
{% load ratings %}
{% load thumbnail %}

{% block content %}
<div class="objectDiv">
<h2 class=title3>{{ object.name }}</h2>
<ul>
	<li><h3>Opis:</h3> {{ object.description }}</li>
	<li><span>Kategoria:</span> {{ object.category.name }}</li>
	<li class="ul-header">Udogodnienia</li>
	<ul id="object-facilites">
		{% for facility in object.facilities.all %}
			<li>{{ facility.name }}</li>
		{% endfor %}
	</ul>
	<li><span>Adres:</span> {{ object.address }}</li>
	<li><span>Miejscowość:</span> {{ object.city }}</li>
	<li><span>Data dodania:</span> {{ object.creation_date }}</li>
</ul>
<h4>Galeria obiektu</h4>
<ul id="object-images">
	{% for image in object.touristobjectimage_set.all %}
		<li>
			{% thumbnail image.image "250x250" as img %}
				<img class="image-popup" data-image-url="{{ image.image.url }}" src="{{ img.url }}" alt="">
			{% endthumbnail %}
			<p>{{ image.caption }}</p>
		</li>
	{% endfor %}
</ul>
<h4>Komentarze</h4>
{% render_comment_list for object %}
{% get_comment_form for object as form %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  <input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
  {% for field in form %}
  {% if field.name == "name" or field.name == "email" or field.name == "url"%}
  {% else %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </p>
    {% endif %}
  {% endif %}
  {% endfor %}
  <p class="submit">
    <input id="post-comment-bttn" type="submit" name="post"
		class="Bluebutton" value="Wyślij" />
  </p>
</form>
<h4>Oceń obiekt</h4>
<p>Aktualna ocena obiektu: {{ object.rating.get_rating }}</p>
{% if user.is_authenticated %}
	{% rating_by_user user on object.rating as vote %}
	{% if vote %}
		<p>Twoja ocena: {{ vote }}
	{% else %}
		<div id="voting-messages"></div>
		<div class="vote-choices">
			<a class="vote-link" data-vote="1" data-obj-id="{{ object.pk }}" href="javascript:;">☆</a>
			<a class="vote-link" data-vote="2" data-obj-id="{{ object.pk }}" href="javascript:;">☆</a>
			<a class="vote-link" data-vote="3" data-obj-id="{{ object.pk }}" href="javascript:;">☆</a>
			<a class="vote-link" data-vote="4" data-obj-id="{{ object.pk }}" href="javascript:;">☆</a>
			<a class="vote-link" data-vote="5" data-obj-id="{{ object.pk }}" href="javascript:;">☆</a>
		</div>
	{% endif %}
{% endif %}
</div>
{% endblock %}
