{% extends "base.html" %}

{% block content %}
	<a href="{% url 'show_event' event_pk %}" class="Bluebutton2">Powrót do strony wydarzenia</a>
	<div id="map-canvas" style="width:660px; height: 500px"></div>
	<div id="directionsPanel" style="width: 300;" class="boxed orange">
		<form>
			<p><label>skad:</label><input type="text" id="road-from" value="{{ request.user.get_profile.address }}"/></p> 
			<p><label>dokad:</label><input type="text" id="road-to" value="{{ obj_address }}"/></p>
			<p><label>spalanie na 100km:</label><input type="text" id="spalanie" value="10"/></p>  
			<p><label>cena paliwa:</label><input type="text" id="cenaPaliwa" value="6" /></p>
			<input type="button" id="calc-button" value="Przelicz trasę" class="Bluebutton" />
			<small>&nbsp;&nbsp;&nbsp;&#8593;Uzupenij pola,<br>&nbsp;&nbsp;&nbsp; &#8593;a nastepnie kliknij przycisk</small>
		</form>
		<p>
			<label>Całkowity dystans:</label> <span id="total"></span>
		</p>
	</div>
{% endblock %}
